.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
  grid-auto-rows: 100px;
  grid-gap: 20px;
  margin: 20px;
}
.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
width: 290px;
height: 75px;
  background-color: #FFFFFF;
} 
.main-cards {
  column-count: 2;
  column-gap: 20px;
  margin: 20px;
  font-size: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 20px;
  box-sizing: border-box;
}
.card:first-child {
  height: 300px;
}

.card:nth-child(2) {
  height: 150px;
  width: 500px;
}

.card:nth-child(3) {
  height: 130px;
  width: 500px;

}

.overviewcard__icon p{
  font-size: 12px;
  margin: 0;
}
span{
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  
}

.card p {
  font-size: 14px;
  margin: 0;
}
.card .line {
  margin: 5px;
  background: #FDC203;
  position: relative;
  width: 80%;
  height: 4px;
}
.card .paymentInfo {
  margin: 3px;
  background: #FDC203;
  position: relative;
  width: 80%;
  height: 4px;
}
.card .paymentInfo:before {
  content: '';
  background: #27AE60;
  width: 85%;
  height: 4px;
  position: absolute;
}
.card .line:before {
  content: '';
  background: #27AE60;
  width: 85%;
  height: 4px;
  position: absolute;
}

.card span {
  font-size: 14px;
}
