.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
  grid-auto-rows: 100px;
  grid-gap: 20px;
  margin: 20px;
}
.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
width: 290px;
height: 75px;
  background-color: #FFFFFF;
} 
.main-cards {
  column-count: 2;
  column-gap: 20px;
  margin: 20px;
  font-size: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 20px;
  box-sizing: border-box;
}
.card:first-child {
  height: 300px;
}

.card:nth-child(2) {
  height: 150px;
  width: 500px;
}

.card:nth-child(3) {
  height: 130px;
  width: 500px;

}

.overviewcard__icon p{
  font-size: 12px;
  margin: 0;
}
span{
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  
}

.card p {
  font-size: 14px;
  margin: 0;
}
.card .line {
  margin: 5px;
  background: #FDC203;
  position: relative;
  width: 80%;
  height: 4px;
  position: relative;

}
.card .paymentInfo {
  margin: 3px;
  background: #FDC203;
  position: relative;
  width: 80%;
  height: 4px;
}
.card .paymentInfo:before {
  content: '';
  background: #27AE60;
  width: 85%;
  height: 4px;
  position: absolute;
}
.card .line:before {
  content: '';
  background: #27AE60;
  width: 85%;
  height: 4px;
  position: absolute;
}

.card span {
  font-size: 14px;
}
.transaction {
  margin-left: 20px;
}
.transaction p{
  font-size: 36px;
}

.transactionInfo {
  display: flex;
  flex-direction: row;
}
.transactionInfo p{
font-size: 13px;
margin-right: 20px;
}

.transactionInfo a  {
  text-decoration: none;
  color: #1875F0;
font-size: 13px;
margin: 0;
padding: 0;
}

img {
  width: 10px;
}
#search {
  padding-left: 30px;
  background-image: url(../../Images/searchIcon.png);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: left center;

}
.searchBox {
  width: 50%;
}
.transactionInfo input {
  border: none;
  outline: none;
  border-bottom: 1px solid #787878;
  width: 336.5px;
  font-size: 0.8rem;
  background: #e5e5e5;
  padding: 0px;
  font-size: 11px;
  margin: 0;
}

.allArrow {
  background: #CED0DA;
  width: 150px;
  height: 35px;
  text-align: center;

margin: 0;
padding: 0;
}
.allArrow p {
  margin: 5px;
}