.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'sidenav header'
    'sidenav main'
    'sidenav footer';
  height: 100vh;
}

.header {
  position: absolute;
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.main {
  height: 100vw;
  grid-area: main;
  background-color: #e5e5e5;
}

