.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'sidenav header'
    'sidenav main'
    'sidenav footer';
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  position: absolute;
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
  /* position: relative; */
}

.main {
  height: 100%;
  grid-area: main;
  background-color: #e5e5e5;
}

.footer {
  position: relative;
  grid-area: footer;
  background-color: #648ca6;
}
